<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <style>
    h1 {
        color: green;
        font-size: 3em;
    }
    </style>
</head>
<body>
    <h1>Register a Device</h1>
    <p> {{ error }} </p>
    <form method="post">
        <label for="device_id">Device ID:</label>
        <input type="text" name="device_id"/>
        <button type="submit">Register This Device</button>
    </form>
</body>
</html>
